 body { background-color: rgb(209, 180, 92); font-family: Arial, sans-serif; margin: 0; padding: 0; }
    nav {
      background-color:  #873939;
      padding: 1em;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .logo { height: 100px; }
    .nav-links {
      display: flex;
      gap: 6em;
      margin: 0 auto;
    }
    nav a {
      color: white;
      text-decoration: none;
    }
    nav a:hover {
      text-decoration: underline;
    }
    header, section, footer {
      padding: 1em;
      text-align: center;
    }
    img { max-width: 550px; height: 300px; }
    .container { max-width: 900px; margin: auto; }
    .service-item { margin-bottom: 2em; }

    p {
        color: #873939;
    }